* {margin: 0; border: 0; padding: 0; outline: none; box-sizing: border-box;}

$primary-color: #272727;
$secondary-color: #A52A2A;
$clr-blkPrim: #000;
$clr-bluPrim: #34568B;
$clr-redPrim: #A52A2A;
$clr-LbluPrim: #45567d;
$clr-DgrayPrim: #A9A9A9;
$clr-slmonPrim: #E9967A;
$clr-gWhtePrim: #F8F8FF;
$font-calc: calc(10px + 2vmin);

@function set-text-color ($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #F8F8FF;
    }
}
@function set-background-color ($background-color) {
    @if (lightness($background-color) > 40%) {
        @return #000;
    } @else {
        @return #F8F8FF;
    }
}
@mixin center {
    margin: auto;
    height: auto;
    width: auto;
}
@mixin media-sm {
    @media screen and (max-width: 768px){
        @content;
    }
    
}